proxy-wss-conector-pago/src/main/resources/META-INF/wsdl/ConectorPagoWebPay.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="WsWebpayDibam" targetNamespace="http://tempuri.org/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="http://desawebpay.dibam.cl/WsWebpayDibam.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
			<xsd:import schemaLocation="http://desawebpay.dibam.cl/WsWebpayDibam.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="http://desawebpay.dibam.cl/WsWebpayDibam.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceWebpayDibam"/>
			<xsd:import schemaLocation="http://desawebpay.dibam.cl/WsWebpayDibam.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DIBAM.WebPay.DTO"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IWsWebpayDibam_T1_InputMessage">
		<wsdl:part name="parameters" element="tns:T1"/>
	</wsdl:message>
	<wsdl:message name="IWsWebpayDibam_T1_OutputMessage">
		<wsdl:part name="parameters" element="tns:T1Response"/>
	</wsdl:message>
	<wsdl:message name="IWsWebpayDibam_T2_InputMessage">
		<wsdl:part name="parameters" element="tns:T2"/>
	</wsdl:message>
	<wsdl:message name="IWsWebpayDibam_T2_OutputMessage">
		<wsdl:part name="parameters" element="tns:T2Response"/>
	</wsdl:message>
	<wsdl:message name="IWsWebpayDibam_T3_InputMessage">
		<wsdl:part name="parameters" element="tns:T3"/>
	</wsdl:message>
	<wsdl:message name="IWsWebpayDibam_T3_OutputMessage">
		<wsdl:part name="parameters" element="tns:T3Response"/>
	</wsdl:message>
	<wsdl:message name="IWsWebpayDibam_T4_InputMessage">
		<wsdl:part name="parameters" element="tns:T4"/>
	</wsdl:message>
	<wsdl:message name="IWsWebpayDibam_T4_OutputMessage">
		<wsdl:part name="parameters" element="tns:T4Response"/>
	</wsdl:message>
	<wsdl:portType name="IWsWebpayDibam">
		<wsdl:operation name="T1">
			<wsdl:input wsaw:Action="http://tempuri.org/IWsWebpayDibam/T1" message="tns:IWsWebpayDibam_T1_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IWsWebpayDibam/T1Response" message="tns:IWsWebpayDibam_T1_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="T2">
			<wsdl:input wsaw:Action="http://tempuri.org/IWsWebpayDibam/T2" message="tns:IWsWebpayDibam_T2_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IWsWebpayDibam/T2Response" message="tns:IWsWebpayDibam_T2_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="T3">
			<wsdl:input wsaw:Action="http://tempuri.org/IWsWebpayDibam/T3" message="tns:IWsWebpayDibam_T3_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IWsWebpayDibam/T3Response" message="tns:IWsWebpayDibam_T3_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="T4">
			<wsdl:input wsaw:Action="http://tempuri.org/IWsWebpayDibam/T4" message="tns:IWsWebpayDibam_T4_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IWsWebpayDibam/T4Response" message="tns:IWsWebpayDibam_T4_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IWsWebpayDibam" type="tns:IWsWebpayDibam">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="T1">
			<soap:operation soapAction="http://tempuri.org/IWsWebpayDibam/T1" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="T2">
			<soap:operation soapAction="http://tempuri.org/IWsWebpayDibam/T2" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="T3">
			<soap:operation soapAction="http://tempuri.org/IWsWebpayDibam/T3" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="T4">
			<soap:operation soapAction="http://tempuri.org/IWsWebpayDibam/T4" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WsWebpayDibam">
		<wsdl:port name="BasicHttpBinding_IWsWebpayDibam" binding="tns:BasicHttpBinding_IWsWebpayDibam">
			<soap:address location="http://localhost:8183/services/webPayDibam/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>