proxy-wss-clave-unica-token/src/main/resources/META-INF/wsdl/ClaveUnicaToken.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ClaveUnicaTokenService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tempuri.org/">
    		<xsd:element name="loginClaveUnicaToken" type="tns:loginClaveUnicaToken"/>
    		<xsd:complexType name="loginClaveUnicaToken">
        		<xsd:sequence>
            		<xsd:element minOccurs="0" name="clientId" type="xsd:string"/>
            		<xsd:element minOccurs="0" name="clientSecret" type="xsd:string"/>
            		<xsd:element minOccurs="0" name="redirectUrl" type="xsd:string"/>
            		<xsd:element minOccurs="0" name="code" type="xsd:string"/>
            		<xsd:element minOccurs="0" name="state" type="xsd:string"/>
        		</xsd:sequence>
    		</xsd:complexType>
    		<xsd:element name="loginClaveUnicaTokenResponse" type="tns:loginClaveUnicaTokenResponse"/>
    		<xsd:complexType name="loginClaveUnicaTokenResponse">
        		<xsd:sequence>
            		<xsd:element minOccurs="0" name="return" type="xsd:string"/>
        		</xsd:sequence>
    		</xsd:complexType>
		</xsd:schema>
  	</wsdl:types>
  	<wsdl:message name="loginClaveUnicaToken">
    	<wsdl:part name="parameters" element="tns:loginClaveUnicaToken"/>
  	</wsdl:message>
  	<wsdl:message name="loginClaveUnicaTokenResponse">
    	<wsdl:part name="parameters" element="tns:loginClaveUnicaTokenResponse"/>
  	</wsdl:message>
  	<wsdl:portType name="ClaveUnicaTokenService">
    	<wsdl:operation name="loginClaveUnicaToken">
      		<wsdl:input name="loginClaveUnicaToken" message="tns:loginClaveUnicaToken"/>
      		<wsdl:output name="loginClaveUnicaTokenResponse" message="tns:loginClaveUnicaTokenResponse"/>
    	</wsdl:operation>
  	</wsdl:portType>
  	<wsdl:binding name="ClaveUnicaTokenServiceSoapBinding" type="tns:ClaveUnicaTokenService">
    	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    	<wsdl:operation name="loginClaveUnicaToken">
      		<soap:operation soapAction="http://tempuri.org/loginClaveUnica" style="document"/>
      		<wsdl:input name="loginClaveUnicaToken">
        		<soap:body use="literal"/>
      		</wsdl:input>
      		<wsdl:output name="loginClaveUnicaTokenResponse">
        		<soap:body use="literal"/>
      		</wsdl:output>
    	</wsdl:operation>
  	</wsdl:binding>
  	<wsdl:service name="ClaveUnicaTokenService">
    	<wsdl:port name="ClaveUnicaTokenServicePort" binding="tns:ClaveUnicaTokenServiceSoapBinding">
      		<soap:address location="http://localhost:8183/services/claveUnica/token"/>
    	</wsdl:port>
  	</wsdl:service>
</wsdl:definitions>